.reservation-card {
  border: 6px solid teal;
  background-color: white;
  width: 18em;
  height: 14em;
  margin: 1em;
  border-radius: 15px;
  color: teal;
  font-size: large;
}

.cancel-button {
  background-color: teal;
  color: white;
  width: 15em;
  height: 2em;
border: none;
font-size: large;
}